<div id="one" class="slideswitch"></div>
<div id="two" class="slideswitch"></div>
<div id="three" class="slideswitch"></div>
<div id="four" class="slideswitch"></div>
<div id="five" class="slideswitch"></div>
<div id="six" class="slideswitch"></div>

<div id="one" class="slide">

    <div class="navigation"><a class="prev disabled"></a><a href="#two" class="next"></a></div>

    <div class="content">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <img src="~/images/whiteboard.svg" />
            </div>
            <div class="col-xs-12 text-center">
                <h2>
                    Most hospitals today use a blackboard for manging day to day tasks.
                    <br />
                </h2>
            </div>
        </div>
    </div>

</div>

<div id="two" class="slide spin_180">

    <div class="navigation"><a href="#one" class="prev"></a><a href="#three" class="next" id="two-three"></a></div>

    <div class="content flip">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <img src="~/images/whiteboard with people.svg" />
            </div>
            <div class="col-xs-12 text-center">
                <h2>The process is cumbersome and inefficient.</h2>
                <h2>Doctors and nurses have to constantly return to the board to keep it up to date.</h2>
                <h2>Coordonation is very dificult, displayed tasks are not always up to date.</h2>
                <h2>Employees must physically walk to the board and upate it .</h2>
            </div>
        </div>
    </div>
</div>

<div id="three" class="slide">

    <div class="navigation"><a href="#two" class="prev" id="three-two"></a><a href="#four" class="next" id="three-four"></a></div>

    <div class="content">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <h2 id="whiteboard-text">
                    First, let's shrink the board.
                </h2>
                <img class="whiteboard-shrink" src="~/images/whiteboard.svg" />
            </div>
            @*TODO: Make phone grow in, after board shrink..*@ 
            @*Maybe make board shrink to 20% and then dissappear instead of shrink to nothing*@
            <div class="col-xs-12 text-center">

                <h2>
                    Now imagine everyone has access to the same board from their pocket.
                </h2>
                <h2>
                    Tasks are created and updated in real time. We can even automate them to
                </h2>
            </div>
        </div>
    </div>
</div>

<div id="four" class="slide">

    <div class="navigation"><a href="#three" class="prev" id="four-three"></a><a href="#five" class="next"></a></div>

    <div class="content">

    </div>


</div>

<div id="five" class="slide">

    <div class="navigation"><a href="#four" class="prev"></a><a href="#six" class="next"></a></div>

    <div class="content">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-3">
                <img src="~/images/doctor.svg" />
            </div>
            <div class="col-xs-offset-2 col-xs-3">
                <img src="~/images/nurse.svg" />
            </div>
            <div class="col-xs-3">
                <img src="~/images/nurse.svg" />
            </div>
            <div class="col-xs-offset-1 col-xs-4">
                <img src="~/images/idea.svg" />
            </div>
            <div class="col-xs-offset-1 col-xs-3">
                <img src="~/images/manager.svg" />
            </div>
            <div class="col-xs-offset-2 col-xs-3">
                <img src="~/images/nurse.svg" />
            </div>
            <div class="col-xs-offset-2 col-xs-3">
                <img src="~/images/doctor.svg" />
            </div>
            <div class="col-xs-12 text-center">
                <h2>
                    RooS is made by the users, for the users.
                </h2>
            </div>
        </div>
    </div>

</div>

<div id="six" class="slide">

    <div class="navigation"><a href="#five" class="prev"></a><a class="next disabled"></a></div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        Made in colaboration with Nobly.
                    </h1>
                    <div class="col-xs-12">
                        <img class="img-responsive center-block collaboration" src="~/images/collaboration.jpg" />
                    </div>
                    <div class="col-xs-12">
                        <h2>Working together for a better future</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
